body {
    margin: 0;
    font-family: Arial;
    background: #f1f3f6;
}

/* Navbar */
.navbar {
    background: #2874f0;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    margin-right: 20px;
}

.search {
    flex: 1;
    padding: 8px;
}

.nav-right button {
    margin-left: 10px;
}

/* Categories */
.categories {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px;
}

/* Banner */
.banner {
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slide 9s infinite;
}

.slides img {
    width: 100%;
}

/* Animation */
@keyframes slide {
    0% {transform: translateX(0);}
    33% {transform: translateX(-100%);}
    66% {transform: translateX(-200%);}
}

/* Products */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
}

/* Hover */
.card:hover {
    transform: scale(1.03);
}